* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
 }
 html{
    scroll-behavior: smooth;
 }
  
 /* text add an image */

 .container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h1{
    font-size: 58px;
    font-weight: bold;
}
.text-overlay h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* best offers css */

.offers{
    background-image: url('images/cupon-devider.png');
    background-repeat: no-repeat;
    background-position: 290px;
}



.ticket{
    background-image: url('images/info-devider.png');
    background-repeat: no-repeat;
    background-position: 860px;
}

@media screen and (max-width:600px) {
    

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text-overlay h1{
    font-size: 22px;
}
.text-overlay h2 {
    font-size: 18px;
}

.text-overlay p {
    font-size: 12px;
}

}